<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/meuicon"
        android:label="@string/key"
        android:roundIcon="@mipmap/meuicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Explorar"></activity>
        <activity android:name=".Cadastro" />
        <activity android:name=".TelaSelecao" />
        <activity android:name=".Telasuporte" />
        <activity android:name=".Telafavoritos" />
        <activity android:name=".Telaperfil" />
        <activity android:name=".Teladestaque" />
        <activity android:name=".Telaingressos" />
        <activity android:name=".Telaexplorar" />
        <activity android:name=".Menuprincipal" />
        <activity android:name=".Paginadelogin" />
        <activity android:name=".Menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>